/* Declaring my variables */
:root {
  --gap: 8px;
}

/* Calculator container */
.calculator {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  font-size: 2rem;
  color: #202124;
}

.calculator .display {
  padding: 8px;
  border: 1px solid #dadce0;
  border-radius: 5px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Default style for buttons */
.calculator .actions {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--gap);
}

.calculator .actions button {
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: #f1f3f4;
  transition: all 0.2s ease;
}

.calculator .actions button:hover {
  background-color: #d7dbdb;
}

.calculator .actions button:active {
  border-color: black;
}

/* Style for operation buttons */
.calculator .actions button.operation {
  background-color: #dadce0;
}

.calculator .actions button.operation:hover {
  background-color: #c9cbcf;
}

/* Style for execute buttons */
.calculator .actions button.execute {
  background-color: #4285f4;
  color: #fff;
}

.calculator .actions button.execute:hover {
  background-color: #4286f4c1;
}

.checklist {
  margin: 20px 0;
}
